@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
font-family: 'Lumious';
	src: url("../public/Lumios-Marker.ttf");
	font-style: normal;
}

.barlow {
	font-family: 'Barlow Condensed', sans-serif;
}

.lumios {
	font-family: 'Dancing Script', sans-serif;
}

html, body, body > div:first-child, div#__next,
	div#__next > div {
	font-family: 'Dancing Script', sans-serif;
    height: 100%;
}